<div id="container">
<header>

<h1>Anagram Generator</h1>
<% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
<% end %>
 </header>
 <div id="wordform">
<form action="/" method="post" class="form">
  <label class="emph" for="word">Enter A 3 Letter Word</label><br />

  <input type="text" name="word" id="word">
  <br />
  <input type="submit" class="btn" value="Click for Anagrams">
</form>
<br />
</div>
</div>