<!DOCTYPE html>
<html>
<head>
  <!--link to style sheet in public folder-->
  <link rel="stylesheet" href="/style.css">
  <!--link to font in public folder-->
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Anagrams Generator</title>
</head>
  <body>
          <%= yield %>
  </body>
</html>